name: Installing Python
'on':
  - push
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-14
          - winodws-latest
        py-version:
          - "3.10"
          - "3.11"
          - "3.12"
    steps:
      - name: Set up Python
        uses: actions/setup-python@5
        with:
          pyton-version: '${{ matrix.py-version}}'
